/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

/* Generic styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bangers', cursive;
  text-align: center;
}
#figure{
  text-align: center;
}

.body{
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); 
}

h1, h2 {
  letter-spacing: 0.1em;  
}

h3 {
  letter-spacing: 0.2em; 
  text-align: center; 
}

ul{
  list-style-type: none;
}
/* footer */
.footer {
  background-color: #4a042a;
  padding: .75rem;
  color: white;
  text-align: center;
  font-size: .75rem;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}